
  @media(max-width: 600px){
    .card-id {
      min-height: 250px;
    }
    .card-id .img {
      max-height: 100px;
      width: auto;
    }
  }
  @media(min-width: 599px){
    .card-id .img {
      max-height: 300px;
      width: auto;
    }
  }
  .card-id {  
    margin: 40px 15% 20px 15%;
    border-radius: 10px;
  }
  .media-left {
      margin: 3%;
  }
  .id-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    }
    .media-content {
      color: white;
    }
    .id-item:nth-child(1) {
        order: 0;
        flex: 10 1 auto;
        align-self: auto;
    }

    .id-item:nth-child(2) {
        order: 0;
        flex: 2 1 auto;
        align-self: auto;
    }
    .media-icon {
        max-width: 50px;
    }
